<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
      function addUser() {
        const userNameTextBox = document.getElementById('userName');
        const userAddressTextBox = document.getElementById('userAddress');
        const userName = userNameTextBox.value;
        const userAddress = userAddressTextBox.value;
        const user = {name: userName, addressDataSet: { street: userAddress }}
        fetch('/api/user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(user)
        });
      }
    </script>
</head>

<body>
<h4>Добавить пользователя</h4>
    <input type="text" id="userName" placeholder="Введите имя пользователя"><br>
    <input type="text" id="userAddress" placeholder="Введите адрес пользователя"><br>
<button onclick="addUser()">Добавить</button>

<h4>Случайный пользователь</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 200px">Адрес</td>
    </tr>
    </thead>
    <tbody>
    <#list users as user>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.addressDataSet.street}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
